
.icon-basket:before { content: '\e800'; } /* '' */
.icon-basket-1:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-volume-up:before { content: '\e808'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-industrial-building:before { content: '\e822'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-jsfiddle:before { content: '\f1cc'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-lastfm:before { content: '\f202'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */